.about {
    height: 100vh;
    width: 100%;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 2rem;
    display: flex;
}

.about-title {
    padding-left: 3.5rem;
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    color: rgb(206, 203, 203);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.about-title-container {
    width: 40%;
}

.about-title div {
    transform: translateY(140px);
    transition: transform .5s;
}

.about-container {
    align-self: flex-end;
    justify-self: flex-end;
    width: 55%;

}

.about-description {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    color: rgb(206, 203, 203);
    text-align: justify;
    text-indent: 3rem;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s opacity 1s;
}

@media screen and (max-width:800px) {
    .about {
        flex-direction: column;
        gap: 40vh;
        height: 80vh;
    }

    .about-title {
        font-size: 3.5rem;
        clip-path: none;
        padding-left: 2rem;
    }

    .about-title div {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .about-container {
        padding-left: 1rem;
        width: auto;
        padding-right: 1rem;
    }

    .about-description {
        width: 100%;
        font-size: 1.1rem;
        text-align: justify;
        text-indent: 3rem;
    }

}