#page {
    background-color: black;
    color: white;
    padding-top: 2rem;
    width: 100%;
    /* overflow-x: hidden; */
}

#page #main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
}

#page #section:nth-of-type(1) {
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;

}

#page #section:nth-of-type(2) {
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;

}

#page #section:not(:first-child) {
    top: 100%;
}

.gradient {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 5rem;
}

#page h1,
h2 {
    font-size: 7rem;
    margin: 0;
    line-height: .8;
    padding-top: 2rem;
    padding-left: 3.5rem;
    line-height: 1;
    display: flex;
}

#page #main #section .gradient>p {
    font-size: 1.8rem;
    color: #9DA7C4;
    padding-top: 1rem;
    text-indent: 3rem;
    width: 80%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

#page p span {
    color: white;
}



.comrade-spacer {
    background-color: black;

}

.bento {
    display: flex;
    align-items: center;
    justify-content: center;

}

.bento-main {
    display: grid;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 600px;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
}

.bento-main article {
    background-color: black;
    border: 1px solid #262627;
    border-radius: 1rem;
    position: relative;
    height: 100%;
    /* Set the height to 100% */
    font-size: 1.2rem;
    width: 100%;
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transition: all 0.2s cubic-bezier(1, 0, 0, 1); */
    /* transform: scale(1); */
}

.bento-main article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bento-main article:nth-of-type(5) {
    cursor: pointer;
}

.bento-main article:nth-of-type(1) p {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: #9DA7C4;
}

.bento-main article>p {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: #9DA7C4;
}

.lastdiv {
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}

.lastdiv img {
    height: 100%;
    width: 55%;
    position: absolute;
    z-index: -1;
}

.lastp {
    margin-top: 0;
}

.lastp:hover {
    text-decoration: underline;
}

.ricon {
    margin-bottom: -5px;
}

.registerbtn>a {
    color: #9DA7C4;
}


.bento-main article.reveal {
    /* visibility: visible; */
    opacity: 1;
    /* transform: scale(1); */
}

.decent {
    height: 60%;
    width: 75%;
    padding-top: 2rem;
}

.bento-main .glowp {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
    /* background-image: radial-gradient(circle at 10% -20%, #9DA7C4, black); */
}

.glowp:nth-of-type(5) {
    cursor: pointer;
}

@media screen and (min-width: 640px) {
    .bento-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .bento-main {
        grid-template-rows: 4fr 3fr 3fr;
    }

    .bento-main article:nth-of-type(1) {
        grid-row: 1/3;
    }

    .bento-main article:nth-of-type(2) {
        grid-row: 3/4;
    }

    .bento-main article:nth-of-type(5) {
        grid-column: 2/4;
        grid-row: 2/4;
    }
}

@media screen and (max-width:800px) {
    .gradient h2 {
        font-size: 2.5rem;
        padding-left: 2rem;
    }
    .gradient{
        height:0;
    }
    #page #main{
        height: 180vh;
    }
    #page #section:nth-of-type(1){
        height: 300vh;
    }
    #page #main #section .gradient>p {
        font-size: 1.1rem;
        /* padding-left: 1rem; */
        text-indent: 2rem;
    }
    #page #section:not(:first-child) {
        top: 27%;
    }



    .bento {
        flex-direction: column;

    }

    .bento-main {
        grid-template-columns: repeat(1, 1fr);
    }

    .bento-main article {
        border: 2px solid #9DA7C4;
    }

    .lastdiv img {
        visibility: hidden;
        display: none;
    }


}