.ecosystem {
    /* background-color: var(--text-color); */
    background-color: red;
    color: var(--bg-color);
    height: 90vh;
    position: relative;
}

.circle-group {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh; */
    position: absolute;
	left: 50%;
	top: 50%;
	width: 140px;
	height: 140px;
	margin-top: -70px;
	margin-left: -70px;
    /*  */
    /* padding: 0;
	margin: 0;
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px; */
}

.ecosystem li {
    position: absolute;
	width: 0;
	height: 100%;
	margin: 0 50%;
	-webkit-transform: rotate(-360deg);
	transition: all 0.8s ease-in-out;
}


.eco-content li span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0px;
    height: 0px;
    line-height: 1px;
    margin-left: 0;
    background-image: linear-gradient(to right bottom, #415fe5, #0086f8, #00a3f4, #00bce4, #15d0d2);
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.8s ease-in-out;
}

.eco-content.open li span{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: -40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

.eco-btn {
    position: relative;
    width: 20%;
    height: 20%;
    padding: 10px;
    background: #428bca;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.1s;
}