.ecosystem {
    /* background-color: var(--text-color); */
    background-color: red;
    color: var(--bg-color);
    height: 100vh;
    position: relative;
}

.eco-content {
    height: 75%;
    align-items: center;
    justify-content: center;
}

.eco-title {
    font-size: 50px;
    font-weight: 600;
}

.circle-group {
    position: absolute;
	/* left: 50%;
	top: 50%; 
	width: 140px;
	height: 140px;
	margin-top: -70px;
	margin-left: -70px; */
}

.ecosystem li {
    position: absolute;
	width: 0;
	height: 0%;
	margin: -20% 50%;
	transition: all 0.8s ease-in-out;
}


.eco-content li .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10%;
    background-image: linear-gradient(to right bottom, #415fe5, #0086f8, #00a3f4, #00bce4, #15d0d2);
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    /*  */
    width: 0px;
    height: 0px;
    font-size: 0px;
    margin: 80px 0px;
    /*  */
    transition: all .8s ease-in-out;
}

.eco-content.open li .circle{
    width: 150px;
    height: 150px;
    line-height: 1.2;
    margin: 100px 0px;
    font-size: 20px;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); */
    
}

.eco-btn {
    position: relative;
    width: 150px;
    height: 50px;
    padding: 10px;
    background: #428bca;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    left: 80%;
}

.eco-label {
    font-size: 44px;
    z-index: 1;
}