.footer {
    overflow: hidden;
    height: auto;
    width: 100%;
    padding-top: 3rem;
}

.footer-container {
    height: auto;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
}

.footer__text h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    padding: 5rem 0rem 0rem 0rem;
}


.footer-left {
    width: 50%;
    padding-left: 3.5rem;
}

.footer-right {
    width: 50%;
}

.footer-img {
    height: 65%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1rem;
}

.footer-img img {
    height: 80%;
    position: absolute;
}

.footer-navigation {
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 3rem; */
}

.footer__nav {
    width: 50%;
}

.footer__nav ul {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    line-height: 3rem;
    column-gap: 30%;
    margin-top: -0.5rem;
}


.footer__social {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.footer__social p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.footer__social ul {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.footer__contact {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.footer__contact h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.footer__contact form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    border-bottom: 1px solid var(--text-color);
}


.footer__contact form input {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: 1rem;
    /* border-radius: 50px; */
}

.footer__contact form input {
    width: 80%;
    height: 0.7rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    /* border-bottom: 1px solid var(--text-color); */
    color: var(--text-color);
}

.footer-send {
    border: none;
    background-color: transparent;
    margin-bottom: -1rem;
    cursor: pointer;
    color: var(--text-color);
}

.footer__contact form input:focus {
    background-color: transparent;
    outline: none;
    /* Remove outline when input is focused */
}

/* .footer__contact form textarea {
    width: 40%;
    height: 2rem;
    background-color: rgb(80, 80, 80);
    color: var(--bg-color);
} */

/* .footer__contact form button {
    width: 6.5rem;
    height: 0.7rem;
    background: linear-gradient(333deg, rgba(113, 231, 122, 1) 21%, rgba(2, 106, 252, 1) 150%);
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.footer__contact form input::placeholder,
.footer__contact form textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

@media screen and (max-width:800px) {
    .footer-img {
        display: none;

    }

    .footer-container {
        flex-direction: column;
        height: 100vh;
        gap: 3rem;
    }

    .footer-left {
        width: 100%;
        padding-left: 1rem;
    }

    .footer-right {
        width: 100%;

    }

    .footer-navigation {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__nav ul {
        width: 100%;

    }

    .footer__nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .footer__social {
        width: 100%;
        padding-left: 1rem;
    }

    .footer__social ul {
        width: 90%;
    }

    .footer__contact h1 {
        font-size: 2.5rem;
        margin-top: 0;
    }
}