.gallery {
    height: 175vh;
    background: black;
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}

.main {
    overflow: hidden;
}

.column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.row {
    position: relative;
    height: 25%;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    /* overflow: hidden; */
}

.column .imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row .imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.column:nth-of-type(1) {
    top: -45%;
}

.column:nth-of-type(2) {
    top: -95%;
}

.column:nth-of-type(3) {
    top: -45%;
}

.column:nth-of-type(4) {
    top: -75%;
}

.row:nth-of-type(1) {
    left: -45%;
}

.row:nth-of-type(2) {
    left: -95%;
}

.row:nth-of-type(3) {
    left: -45%;
}

.row:nth-of-type(4) {
    left: -75%;
}

.spacer {
    height: 50vh;
    background-color: black;
    color: white;
}

.spacer-end {
    height: 10vh;
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.spacer h1 {
    margin: 0;
    padding-left: 3.5rem;
    font-size: 7rem;
    padding-top: 0rem;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.spacer h1 div {
    transform: translateY(140px);
    transition: transform .5s;
}

@media screen and (max-width:800px) {
    .spacer {
        height: 20vh;
    }

    .spacer h1 {
        font-size: 2.5rem;
        padding-left: 2rem;
    }

    .gallery {
        flex-direction: column;
        /* height: auto; */
        /* height: 100vh; */
        width: 175vw;
        overflow-x: hidden;
    }
}