.mainpage {
    height: 100vh;
    margin: 0;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.landing {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.land-title {
    font-size: 10rem;
    color: var(--text-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    margin-bottom: 0;
    font-weight: bold   ;
}


.land-title div:last-child {
    background: rgb(113, 231, 122);
    background: linear-gradient(333deg, rgba(113, 231, 122, 1) 21%, rgba(2, 106, 252, 1) 100%);
    -webkit-background-clip: text;
    /* For Safari */
    background-clip: text;
    color: transparent;
    transform: translateY(140px);
    transition: transform .5s;
}

.land-title div {
    transform: translateY(140px);
    transition: transform .5s;
}

.landing-description {
    color: rgb(130, 130, 130);
    width: 45%;
    text-align: center;
    font-size: 1.3rem;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}