.navbar {
    position: absolute;
    display: flex;
    height: auto;
    padding-top: 2.5rem;
    width: 100%;
    justify-content: end;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

h3 {

    font-size: 1.15vw;
    font-weight: normal;
    margin: 0;
}

.nav-logo {
    height: 70px;
    width: 70px;
    border-radius: 10rem;
    background-image: linear-gradient(to right bottom, #415fe5, #0086f8, #00a3f4, #00bce4, #15d0d2);
    flex-shrink: 0;
}

.nav-logo-container {
    padding: 3rem;
    margin-top: -1.5rem;
    margin-left: 1.5rem;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-side {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.nav-side>h3 {
    color: rgb(130, 130, 130);
}

.navlist {
    padding-right: 2rem;
    opacity: 1;
}

.navlist li {
    padding-bottom: .3rem;
}

@media screen and (max-width:800px) {
    .navbar {
        padding-top: 1rem;
        width: 100%;
    }

    .nav-logo {
        height: 40px;
        width: 40px;
    }

    .nav-logo-container {
        padding: 1rem;
        margin-top: 0;
    }

    .nav-side {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .toggle {
        margin-top: 2.5rem;
    }

    .navlist {
        padding-right: 1.5rem;
    }

    .nav-side>h3 {
        display: none;
    }

    h3 {
        font-size: 1rem;
    }
}