.navbar-container {
    display: flex;
    width: 100%;
    height: 8rem;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 9;
    opacity: 0;

}

.main-nav {
    width: 95%;
    height: 5rem;
    position: absolute;
    border-radius: 7px;
    display: grid;
    background-color: var(--land-bg);
    grid-template-columns: 5rem 1fr 11fr 5rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}

.menu-link {
    grid-column: 3/4;
}

.menu-link ul {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media {
    grid-column: 4/5;
}

.nav-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50px;
    width: 50px;
    border-radius: 10rem;
    background-image: linear-gradient(to right bottom, #415fe5, #0086f8, #00a3f4, #00bce4, #15d0d2);
    flex-shrink: 0;
}

/* ----------- Grid part ends ----------------- */



.menu-link ul li {
    font-size: 1.2rem;
}

.menu-link ul li:last-child {
    margin-top: 7px;
}

.menu-link ul li a {
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.5s;
}

.menu-link ul li:hover>a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
}

.social-media ul li {
    font-size: 1.8rem;
}

.social-media .hamburger-menu {
    display: none;
}

/* responsive css style  */
@media (max-width: 1080px) {
    .main-nav {
        height: 5rem;
        grid-template-columns: 2rem 3fr 7fr 2rem;
    }

    .logo,
    .menu-link ul,
    .social-media ul {
        height: 5rem;
    }
}

/* responsive css style  */
@media (max-width: 998px) {
    .main-nav {
        height: 5rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }

    .menu-link {
        display: none;
    }

    .logo,
    .social-media ul {
        height: 5rem;
    }

    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }

    .mobile-menu-link {
        background-color: var(--bg-color);
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }

    .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
    }

    .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
    }

    .social-media .social-media-desktop {
        height: 0;
        display: none;
    }

    .social-media {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 798px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }

    .logo,
    .social-media ul {
        height: 6rem;
    }

    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }

    .logo,
    .social-media ul {
        height: 6rem;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }

}