/* .partner-container {
    background-color: black;
    color: white;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
}

.partner-title {
    display: flex;
    align-items: center;
    height: 100%;
}

.partner-title h1 {
    display: flex;
    flex-direction: column;
    font-size: 70px;
    text-align: center;
    font-weight: 600;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.partner-title h1 div {
    opacity: 0;
    transform: translateY(100px);
}

.partner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.partner-content img {
    width: auto;
    height: 120px;
    margin: 0px 50px;
    padding: 0px 0px;
}

.partner-text {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@media screen and (max-width:1024px) {
    .partner-container {
        height: 80vh;
    }

    .partner-title h1 {
        font-size: 60px;
    }

    .partner-content img {
        height: 100px;
        margin: 0px 30px;
    }

    .partner-text {
        font-size: 1rem;
    }
}

@media screen and (max-width:768px) {
    .partner-container {
        height: 70vh;
    }

    .partner-title h1 {
        font-size: 35px;
    }

    .partner-content {
        flex-direction: column;
    }

    .partner-content img {
        height: 65px;
        margin: 0px 20px;
    }

    .partner-text {
        font-size: 0.8rem;
    }

}

@media screen and (max-width:480px) {
    .partner-container {
        flex-direction: column;
        height: 100vh;
    }

    .partner-title {
        justify-content: center;
    }

    .partner-title h1 {
        flex-direction: row !important;
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .partner-content {
        width: 100%;
    }

    .partner-content img {
        height: 80px;
        margin-top: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .partner-text {
        font-size: 1rem;
        margin-top: 1rem !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 380px) {
    .partner-container {
        height: 80vh;
        justify-content: center;
    }

    .partner-title h1 {
        font-size: 30px;
        margin-bottom: 0rem;
    }

    .partner-content img {
        height: 60px;
    }

    .partner-text {
        font-size: 0.8rem;
    }
} */
.partner-container {
    background-color: black;
    color: white;
    height: auto;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partner-title {
    align-self: flex-start;
    padding-left: 3.5rem;
}

.partner-title h1 {
    font-size: 7rem;
    width: 100%;
    font-weight: bold;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.partner-title h1 div {
    transform: translateY(140px);
    transition: transform .5s;
}

.partner-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
}

.partner-content img {
    width: auto;
    height: 150px;
    margin: 0px 50px;
    padding: 0px 0px;
}

.partner-text {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.partner-logo {
    transform: translateY(200px);
    padding: 5rem;
    opacity: 0;
}

/* .partner-title h1 .char{
    transform: translateY(140px);
    transition: transform .5s;
} */

@media screen and (max-width:800px) {
    .partner-title h1 {
        font-size: 3.5rem;
    }

    .partner-title {
        padding-left: 2rem;
    }

    .partner-content {
        flex-direction: column;
        gap: 3rem;
    }

    .partner-content img {
        margin: 0;
        height: 100px;
    }
}