.partner-container {
    background-color: var(--text-color);
    color: var(--bg-color);
    height: 100vh;
    align-items: flex-start; 
}

.partner-title h1 {
    font-size: 69px;
    width: 75%;
    text-align: center;
    font-weight: 600;
}

.partner-content img {
    width: 120px;
    height: 80px;
    margin: 0px 40px;
    padding: 0px 0px;
}
