.services {
    /* 140vh -> 150 vh modified for layout collide */
    height: 150vh; 
    width: 100%;
    background-color: black;
    margin: 0;
    color: white;
    margin-top: -1px;
}

.services h1 {
    padding-left: 5rem;
    margin: 0;
    font-size: 6.5rem;
}

.services h4 {
    font-weight: normal;
    width: 80%;
    padding-left: 5rem;
    font-size: 1.8rem;
    color: #9DA7C4;
    margin-top: 0;
}

.services-content {
    margin-left: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plate {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 40rem;
    background: rgb(111, 228, 125);
    background: linear-gradient(333deg, rgba(111, 228, 125, 1) 15%, rgba(82, 112, 255, 1) 100%);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.service:nth-child(1) {
    transform: translateX(-500px);
    opacity: 0;
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.service:nth-child(2) {
    transform: translateX(500px);
    opacity: 0;
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.service:nth-child(3) {
    transform: translateX(-500px);
    opacity: 0;
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.service:nth-child(4) {
    transform: translateX(500px);
    opacity: 0;
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.service:nth-child(5) {
    transform: translateX(-500px);
    opacity: 0;
    transition: transform 1s opacity 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}